<div *ngIf="!selectedAuthor">
    <h2>Sorry can't find the requested author...</h2>
  </div>
  <div *ngIf="selectedAuthor">
    <h2>Here are details of the Author {{selectedAuthor.id}}</h2>
    <div class="row">
      <div class="col-3">FirstName:</div>
      <div class="col-9">{{ selectedAuthor.firstName }}</div>
    </div>
    <div class="row">
      <div class="col-3">Last name:</div>
      <div class="col-9">{{ selectedAuthor.lastName }}</div>
    </div>
    <div class="row" [hidden]="!selectedAuthor.books">
      <div class="col-3">Books:</div>
      <div class="col-9"><span [innerHTML]="selectedAuthor.books | booknames"></span></div>
    </div>

    <div class="row" [hidden]="!selectedAuthor.bio">
        <div class="col-3">Bio:</div>
        <div class="col-9"><span [innerHTML]="selectedAuthor.bio | biodata"></span></div>
      </div>
  </div>
  
